@charset "utf-8";
/*输入框可编辑，按钮划过色值*/
/*输入框不可编辑*/
/*上传附件按钮*/
/*黄色字体*/
/*表格头部及按钮所在尾部颜色，表单头部及尾部颜色*/
/*表格中间，表单中间内容，选择框底色*/
/*下划线*/
/*表格顶部标题*/
/*表单内部表格头部*/
/*表单内部表格中间*/
/*编辑队伍处背景色*/
/*-------------------------------------公告----公告列表-----------------------------------------------*/
.laffiche .table2 tbody tr td:nth-of-type(1) {
  position: relative;
}
.laffiche .table2 thead tr th:nth-of-type(2) {
  width: 23.7rem !important;
}
.laffiche .table2 tbody tr td:nth-of-type(2) {
  width: 22.7rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
}
.laffiche .table2 tbody tr td:nth-of-type(1) {
  width: 12rem !important;
}
.laffiche .table2 tbody tr td.dataTables_empty:nth-of-type(2) {
  display: table-cell !important;
}
.laffiche .table2 tbody tr td .btndetail {
  border: none;
  outline: none;
  color: #f7f2e3;
  cursor: pointer;
  font-weight: 900;
  width: 7.54585285rem;
  height: 2.26375585rem;
  font-size: 1.50917057rem;
  text-align: center;
  line-height: 0.94323161rem;
  background: url('../i/btn.png') no-repeat left center;
  background-size: 100%;
  font-family: '华文楷体', STKaiti, '楷体', serif, '楷体_GB2312', KaiTi_GB2312;
}
.laffiche .table2 tbody tr td .btndetail:active {
  width: 7.54585285rem;
  height: 2.26375585rem;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.laffiche .pitchId {
  display: inline-block;
  width: 3.538865rem;
  vertical-align: middle;
}
.laffiche .table2 tbody tr td img.pitch {
  width: 2.16943269rem;
  height: 2.16943269rem;
  margin-left: -2rem;
  margin-right: 0;
}
/*--------------------------------------公告-----发布公告详情编辑---------------------------------------------*/
.lafficheAdd .changeBox .form-item label {
  text-align: right;
  width: 9.43231606rem;
  display: inline-block;
  vertical-align: top ;
}
.lafficheAdd .form-item input,
.lafficheAdd .form-item div,
.lafficheAdd .form-item label {
  font-size: 1.60349373rem;
  color: #ffffff;
  border: 0;
  font-family: '华文楷体', STKaiti, '楷体', serif, '楷体_GB2312', KaiTi_GB2312;
}
.lafficheAdd .form-item input ::-webkit-input-placeholder,
.lafficheAdd .form-item div ::-webkit-input-placeholder {
  color: #fff8a4;
}
.lafficheAdd .form-item1 {
  display: flex;
  flex-direction: row;
}
.lafficheAdd .form-item1,
.lafficheAdd .form-item0 {
  height: 5.18777383rem;
  line-height: 5.18777383rem;
  border-bottom: 2px solid #4e525b;
  padding-left: 8%;
}
.lafficheAdd .form-item0 input.textAdd {
  height: 2.82969482rem;
  color: #232323 !important;
  width: 75%;
  border: 1px solid #4e525b;
  background: #979ea9;
}
.lafficheAdd .form-item3 .fileTextAdd {
  color: #232323 !important;
  border: 1px solid #5d5859;
  background: #979ea9;
}
.lafficheAdd .form-item4 {
  height: 3.77292642rem;
  line-height: 3.77292642rem;
  padding-left: 8%;
  position: relative;
}
.lafficheAdd .form-item4 .item {
  margin-bottom: 0.2358079rem;
}
.lafficheAdd .form-item4 .item .fileText {
  cursor: pointer;
  display: inline-block;
  width: 9.43231606rem;
  height: 3.39563378rem;
  line-height: 3.39563378rem;
  text-align: center;
  border: 2px solid #4e525b;
  background: #676b6d;
  color: #dedede;
}
.lafficheAdd .form-item4 .item .fileText:active {
  width: 9.43231606rem;
  height: 3.39563378rem;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.lafficheAdd .form-item4 .item .hintT {
  color: #7e7e7e;
}
.lafficheAdd .form-item4 .item .filename {
  border-radius: 0.4716158rem;
  padding-left: 0.56593896rem;
  padding-right: 0.94323161rem;
  font-size: 1.186463rem;
  line-height: 2.12227111rem;
  width: 16.5065531rem;
  height: 2.12227111rem;
  vertical-align: middle;
  color: white;
  display: inline-block;
  border: 1px solid #4e525b;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lafficheAdd .form-item3 {
  padding-left: 8%;
  height: 18.86463212rem;
  line-height: 5.65938963rem;
}
.lafficheAdd .form-item3 label {
  vertical-align: top;
}
.lafficheAdd .form-item2 label {
  color: #ffffff;
}
.lafficheAdd .form-item label {
  text-align: right;
  width: 9.43231606rem;
  display: inline-block;
  vertical-align: top;
}
.lafficheAdd .form-item3 textarea,
.lafficheAdd .form-item3 div {
  font-size: 1.60349373rem;
  width: 75%;
  height: 16.5065531rem;
  resize: none;
  margin-top: 0.94323161rem;
  line-height: 2.82969482rem;
  font-family: '华文楷体', STKaiti, '楷体', serif, '楷体_GB2312', KaiTi_GB2312;
}
.lafficheDetails .form-item div,
.lafficheDetails .form-item label {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.60349373rem;
  color: #ffffff;
  border: 0;
  font-family: '华文楷体', STKaiti, '楷体', serif, '楷体_GB2312', KaiTi_GB2312;
}
.lafficheDetails .form-item input {
  font-size: 1.60349373rem;
  color: #fff8a4;
  border: 0;
  font-family: '华文楷体', STKaiti, '楷体', serif, '楷体_GB2312', KaiTi_GB2312;
}
.lafficheDetails .textDetail {
  background-color: #565c69;
  color: #ffffff;
  border: 0;
}
.lafficheEdit .textDetail2 {
  background-color: #979ea9;
  color: #232323;
  border: 0;
}
