/*黄色字体*/
/*白色字体*/
/*表格中间，表单中间内容，选择框底色*/
.tab-pane,
table.table-origin thead {
  background-color: #565c69;
}
table.table-origin tbody tr td:nth-of-type(2),
table.table-origin thead tr th:nth-of-type(2) {
  width: 9rem;
}
.form {
  text-align: left;
  font-size: 1.60349373rem;
  margin-top: 1%;
  height: 98%;
  color: #ffffff;
  overflow: auto;
  width: 100%;
  background: #3e4350;
}
.form .form-item-group .form-item {
  margin: 0.5rem 0;
}
.form .form-item-group .form-item.power {
  margin: 2rem 0;
}
.form .form-item-group .form-item .item {
  float: left;
  width: 100%;
}
.form .form-item-group .form-item .item label {
  line-height: 3rem;
  width: 18%;
  display: inline-block;
  text-align: right;
  vertical-align: baseline;
}
.form .form-item-group .form-item .item label.desc {
  vertical-align: top;
}
.form .form-item-group .form-item .item label.radioImg {
  vertical-align: middle;
  display: inline-block;
  width: 1.27336267rem;
  height: 1.27336267rem;
  background: url("../i/singleChioce.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}
.form .form-item-group .form-item .item input[type='radio']:checked + label.radioImg {
  vertical-align: middle;
  display: inline-block;
  width: 1.27336267rem;
  height: 1.27336267rem;
  background: url("../i/singleChioce2.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}
.form .form-item-group .form-item .item input[type='radio'] {
  display: none;
}
.form .form-item-group .form-item .item input[type='text'],
.form .form-item-group .form-item .item input[type='date'] {
  text-align: left!important;
  font-size: 1.60349373rem;
  width: 15.44105038rem;
  height: 1.88646321rem;
  line-height: 1.88646321rem;
  color: #ffffff;
  padding-left: 0.7074237rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: ellipsis;
  border: 1px solid rgba(198, 198, 198, 0.5);
  border-radius: 0.4716158rem;
}
.form .form-item-group .form-item .item textarea {
  color: #232323;
  border: 1px solid #5d5859;
  background: #979ea9;
  padding: 0.5rem;
  word-break: break-all;
  line-height: 2rem;
  height: 14rem;
  width: 76%;
  display: inline-block;
  overflow: auto;
  font-size: 1.60349373rem;
  resize: none;
  font-family: '华文楷体', STKaiti, '楷体', serif, '楷体_GB2312', KaiTi_GB2312 !important;
}
.form .form-item-group .form-item .item span {
  color: #fff8a4;
}
.form .form-item-group .form-item .item span.desc {
  padding: 0.5rem;
  word-break: break-all;
  line-height: 2rem;
  color: #ffffff;
  height: 14rem;
  width: 76%;
  background: #565c69;
  display: inline-block;
  overflow: auto;
}
.form .form-item-group .form-item .item span.radioText {
  color: #ffffff;
}
.form .form-item-group .form-item.col-2 .item {
  width: 50%;
}
.form .form-item-group .form-item.col-2 .item label {
  width: 36%;
}
.form .form-item-group .form-item.col-3 .item {
  width: 33.3%;
}
.form .form-item-group .form-item.col-3 .item label {
  width: 54%;
}
.form .form-item-group .form-item:before,
.form .form-item-group .form-item:after {
  content: "";
  display: table;
}
.form .form-item-group .form-item:after {
  clear: both;
}
.form .form-item-group + .form-item-group {
  border-top: 2px solid #4e525b;
}
.contentWithTab {
  margin: 1% 4% 0 0;
  float: right;
  width: 79.7%;
  height: 99%;
  background: lightblue;
}
.contentWithTab .tabs .tab-content {
  padding: 0;
  height: 100%;
  width: 100%;
}
.contentWithTab .tabs .tab-content .contentTable {
  padding: 0 1% 1%;
  border: 1px solid #a4a4a4;
  height: 88%;
}
.exp input,
#number input {
  font-size: 1.60349373rem;
  width: 6rem;
  height: 1.88646321rem;
  line-height: 1.88646321rem;
  color: #ffffff;
  border: 1px solid rgba(198, 198, 198, 0.5);
  border-radius: 0.4716158rem;
  background-color: transparent;
  text-align: center;
}
table.compact-table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
}
table.compact-table thead {
  width: 100%;
  color: #fff7dd;
}
table.compact-table thead tr {
  height: 2rem;
}
table.compact-table thead tr th {
  border: 1px solid #4e525b;
  font-size: 1.5rem;
}
table.compact-table tbody {
  overflow: auto;
}
table.compact-table tbody tr {
  height: 1.7rem;
}
table.compact-table tbody tr td {
  border: 1px solid #4e525b;
  font-size: 1.2rem;
}
table.compact-table tbody tr td:nth-of-type(1),
table.compact-table tbody tr td:nth-of-type(3),
table.compact-table tbody tr td:nth-of-type(5),
table.compact-table tbody tr td:nth-of-type(7),
table.compact-table tbody tr td:nth-of-type(9) {
  background-color: rgba(78, 84, 101, 0.25);
}
table.compact-table tfoot {
  text-align: left;
}
table.compact-table tfoot tr {
  height: 3.5rem;
}
table.compact-table tfoot tr td {
  color: #afafaf;
  padding: 0 2rem;
}
table.compact-table tfoot tr td span + span {
  margin-left: 5rem;
}
/*藏金阁*/
.cjgBox {
  font-family: '华文楷体', STKaiti, '楷体', serif, '楷体_GB2312', KaiTi_GB2312;
}
.cjgBox .change2 .dataTables_scrollBody::-webkit-scrollbar {
  display: none;
}
.cjgBox .margin4R {
  margin-right: 4%;
  margin-top: 0.5%;
}
.cjgBox .contentWithTable {
  font-size: 1.79214005rem;
  overflow-y: scroll;
  padding: 1% 1%;
  height: 85%;
}
.cjgBox .contentWithTab .tabs .tab-content .contentTable {
  padding: 1% 1%;
  overflow-y: scroll;
  background: #565c69;
}
.cjgBox .contentWithTab .tabs .tab-content .contentTable .contentBg {
  background: #3e4350;
  height: 100%;
}
.cjgBox .dataTables_scrollHead {
  height: 2.8rem;
}
.cjgBox #contentTable thead tr th:nth-of-type(9) {
  width: 12rem;
}
.cjgBox #contentTable tbody tr td:nth-of-type(9) {
  width: 12rem;
}
.cjgBox #contentContainer thead tr th:nth-of-type(5) {
  width: 12rem;
}
.cjgBox #contentContainer tbody tr td:nth-of-type(5) {
  width: 12rem;
}
.cjgBox .contentBg {
  width: 100%;
  background: #3e4350;
  height: 100%;
  overflow-y: scroll;
  /*p b.right{  font-weight: 100;  position: absolute;  left:54%;  }*/
}
.cjgBox .contentBg p {
  width: 100%;
  height: 3.20698746rem;
  line-height: 3.20698746rem;
  text-align: left;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid #4e525b;
  font-size: 1.5rem;
}
.cjgBox .contentBg div {
  width: 100%;
  color: #ffffff;
}
.cjgBox .contentBg div p.divCenter {
  text-align: center;
  font-size: 1.8rem;
  height: 3.77292642rem;
  line-height: 3.77292642rem;
}
.cjgBox .contentBg p span {
  color: #fff8a4;
}
.cjgBox .contentBg p input.btn-manager {
  position: absolute;
  left: 82%;
  top: 14%;
}
.cjgBox .contentBg p i {
  display: inline-block;
  width: 10rem;
  text-align: right;
  color: #ffffff;
  font-style: normal;
}
.cjgBox .contentBg p b {
  font-weight: 100;
  font-size: 1.5rem;
}
.cjgBox .contentBg p b.boss {
  font-weight: 100;
  position: absolute;
  left: 40%;
}
.cjgBox .contentBg p b.center {
  font-weight: 100;
  position: absolute;
  left: 28%;
}
.cjgBox .contentBg p input.btnRight,
.cjgBox .contentBg p input.btnRightA {
  position: absolute;
  left: 86%;
  top: 14%;
}
.cjgBox .contentBg p b em {
  color: #ffffff;
  display: inline-block;
  width: 11.31877927rem;
  text-align: right;
  font-style: normal;
}
.cjgBox .changeValue {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  width: 6rem !important;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}
.cjgBox .changeValue2 {
  background: rgba(0, 0, 0, 0);
  color: #fff8a4;
  font-size: 1.4rem;
  text-align: left;
  width: 8rem !important;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}
.cjgBox input.btn-small:active {
  width: 5.272926rem;
  height: 2.26375585rem;
  font-size: 1.3rem;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.cjgBox .change2 .table2 tbody tr td img {
  width: 1.17903951rem;
  height: 1.69781689rem;
  vertical-align: middle;
  margin-bottom: 0.14148474rem;
  font-size: 1.3rem;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.cjgBox .change2 .table2 tbody tr td img {
  width: 1.17903951rem;
  height: 1.69781689rem;
  vertical-align: middle;
  margin-bottom: 0.14148474rem;
}
.cjgBox .footer {
  justify-content: flex-end;
  align-items: flex-start;
  height: 11%;
}
.cjgBox .footer .btnStyle:nth-of-type(2) {
  margin-right: 4%;
}
